# Exclude the .htaccess file
.htaccess

# Exclude the sound files
*.mp3

# Exclude any PSD/AI source
*.psd
*.ai
*.gif
*.jpg
*.png
*.pdf
*.eps
# Exclude the build products
build/*
*.[oa]
# Exclude OS X folder attributes
.DS_Store
# Exclude Text Files
*.txt
# Except read me
!README.txt
# Exclude log files
*.log
# Exclude Fonts
_fonts/
# Exclude Images
_images/
images/
salute-photos/
winners/
guests/
